# Customer Churn - Savings Bank - Model Testing

In [1]:
import pandas as pd

from sklearn.preprocessing import MinMaxScaler

import pickle

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("../data/Tabla_01_English_Unique_postEDA.csv", index_col=0, parse_dates=True) # complete dataset for time period 01.01.2018 - 31.05.2021

In [3]:
df.info(), df.shape

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4304 entries, 2018-01-31 to 2021-05-31
Data columns (total 24 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Client_ID                              4304 non-null   int64
 1   Resident_Capital                       4304 non-null   int64
 2   Client_Age_Years                       4304 non-null   int64
 3   Client_Sex                             4304 non-null   int64
 4   Client_Married                         4304 non-null   int64
 5   Amount_Last_Disbursement               4304 non-null   float64
 6   n(Months)_Since_Last_Disbursement      4304 non-null   int64
 7   n(Months)_Client_Relationship          4304 non-null   int64
 8   n(Months)_LO_Active_Employee           4304 non-null   int64
 9   Client_Status_Post3Months              4304 non-null   int64
 10  Client_Status_Post6Months              4304 non-null   int64
 11  LO_Active_Employee_Post3Months         4304 non-null   int64
 12  LO_Active_Employee_Post6Months         4304 non-null   int64
 13  n(Loans)_Outstanding_Maynas            4304 non-null   int64
 14  n(Loans)_Outstanding_Other             4304 non-null   int64
 15  n(Additional_Loans)_Post3Months        4304 non-null   int64
 16  n(Additional_Loans)_Post6Months        4304 non-null   int64
 17  Total_Accumulated_Interest_per_Client  4304 non-null   int64
 18  LO_Active_Employee_Prior3Months        4304 non-null   int64
 19  LO_Active_Employee_Prior6Months        4304 non-null   int64
 20  n(Additional_Loans)_Pre3Months         4304 non-null   int64
 21  n(Additional_Loans)_Pre6Months         4304 non-null   int64
 22  LO_Changed                             4304 non-null   int64
 23  n(Months)_Change_LO                    4304 non-null   int64
dtypes: float64(1), int64(23)
memory usage: 840.6 KB

(None, (4304, 24))

In [4]:
df.columns

Index(['Client_ID', 'Resident_Capital', 'Client_Age_Years', 'Client_Sex',
       'Client_Married', 'Amount_Last_Disbursement',
       'n(Months)_Since_Last_Disbursement', 'n(Months)_Client_Relationship',
       'n(Months)_LO_Active_Employee', 'Client_Status_Post3Months',
       'Client_Status_Post6Months', 'LO_Active_Employee_Post3Months',
       'LO_Active_Employee_Post6Months', 'n(Loans)_Outstanding_Maynas',
       'n(Loans)_Outstanding_Other', 'n(Additional_Loans)_Post3Months',
       'n(Additional_Loans)_Post6Months',
       'Total_Accumulated_Interest_per_Client',
       'LO_Active_Employee_Prior3Months', 'LO_Active_Employee_Prior6Months',
       'n(Additional_Loans)_Pre3Months', 'n(Additional_Loans)_Pre6Months',
       'LO_Changed', 'n(Months)_Change_LO'],
      dtype='object')

In [5]:
df.rename(columns={
    "LO_Active_Employee_Prior3Months":"LO_Still_Hired_Prior3Months",
    "LO_Active_Employee_Post3Months":"LO_Still_Hired_Post3Months",
    "LO_Active_Employee_Post6Months":"LO_Still_Hired_Post6Months"
    },
    inplace=True
)

In [6]:
df.columns

Index(['Client_ID', 'Resident_Capital', 'Client_Age_Years', 'Client_Sex',
       'Client_Married', 'Amount_Last_Disbursement',
       'n(Months)_Since_Last_Disbursement', 'n(Months)_Client_Relationship',
       'n(Months)_LO_Active_Employee', 'Client_Status_Post3Months',
       'Client_Status_Post6Months', 'LO_Still_Hired_Post3Months',
       'LO_Still_Hired_Post6Months', 'n(Loans)_Outstanding_Maynas',
       'n(Loans)_Outstanding_Other', 'n(Additional_Loans)_Post3Months',
       'n(Additional_Loans)_Post6Months',
       'Total_Accumulated_Interest_per_Client', 'LO_Still_Hired_Prior3Months',
       'LO_Active_Employee_Prior6Months', 'n(Additional_Loans)_Pre3Months',
       'n(Additional_Loans)_Pre6Months', 'LO_Changed', 'n(Months)_Change_LO'],
      dtype='object')

### Creating training data

In [7]:
X_train = df[["Client_ID", "LO_Still_Hired_Post3Months", "LO_Still_Hired_Prior3Months","LO_Still_Hired_Post6Months"]]

In [8]:
X_train.shape

(4304, 4)

In [9]:
y_train = df[["Client_Status_Post3Months"]]

In [10]:
y_train.shape

(4304, 1)

### Reading in testing data

In [11]:
df2 = pd.read_csv("../data/Tabla_01_test_English.csv", index_col=0, parse_dates=True) # complete dataset for time period 01.06.2021 - 31.08.2021

In [12]:
df2.info(), df2.shape

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 15235 entries, 2021-06-30 to NaT
Data columns (total 24 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Client_ID                              1444 non-null   float64
 1   Resident_Capital                       1444 non-null   float64
 2   Client_Age_Years                       1444 non-null   float64
 3   Client_Sex                             1444 non-null   float64
 4   Client_Married                         1444 non-null   float64
 5   Loan_Amount_Last_Disbursement          1444 non-null   float64
 6   Number_Months_Last_Disbursement        1444 non-null   float64
 7   Number_Months_Client_Relationship      1444 non-null   float64
 8   Number_Months_LO_Hired                 1444 non-null   float64
 9   Client_Status_Post3Months              1444 non-null   float64
 10  Client_Status_Post6Months              1444 non-null   float64
 11  LO_Still_Hired_Post3Months             1444 non-null   float64
 12  LO_Still_Hired_Post6Months             1444 non-null   float64
 13  Number_Loans_Outstanding_Maynas        1444 non-null   float64
 14  Number_Loans_Outstanding_Other         1444 non-null   float64
 15  Number_Additional_Loans_Post3Months    1444 non-null   float64
 16  Number_Additional_Loans_Post6Months    1444 non-null   float64
 17  Total_Accumulated_Interest_per_Client  1444 non-null   float64
 18  LO_Still_Hired_Prior3Months            1444 non-null   float64
 19  LO_Still_Hired_Prior6Months            1444 non-null   float64
 20  Number_Additional_Loans_Pre3Months     1444 non-null   float64
 21  Number_Additional_Loans_Pre6Months     1444 non-null   float64
 22  New_LO                                 1444 non-null   float64
 23  Number_Months_Change_LO                1444 non-null   float64
dtypes: float64(24)
memory usage: 2.9 MB

(None, (15235, 24))

In [13]:
df2.isna().sum()

Client_ID                                13791
Resident_Capital                         13791
Client_Age_Years                         13791
Client_Sex                               13791
Client_Married                           13791
Loan_Amount_Last_Disbursement            13791
Number_Months_Last_Disbursement          13791
Number_Months_Client_Relationship        13791
Number_Months_LO_Hired                   13791
Client_Status_Post3Months                13791
Client_Status_Post6Months                13791
LO_Still_Hired_Post3Months               13791
LO_Still_Hired_Post6Months               13791
Number_Loans_Outstanding_Maynas          13791
Number_Loans_Outstanding_Other           13791
Number_Additional_Loans_Post3Months      13791
Number_Additional_Loans_Post6Months      13791
Total_Accumulated_Interest_per_Client    13791
LO_Still_Hired_Prior3Months              13791
LO_Still_Hired_Prior6Months              13791
Number_Additional_Loans_Pre3Months       13791
Number_Additional_Loans_Pre6Months       13791
New_LO                                   13791
Number_Months_Change_LO                  13791
dtype: int64

Dropping N.A.s, which for some reason have been created in the process of translating cols.

In [14]:
df2.dropna(axis=0, inplace=True)

In [15]:
df2.index[:], df2.shape

(DatetimeIndex(['2021-06-30', '2021-06-30', '2021-06-30', '2021-06-30',
                '2021-06-30', '2021-06-30', '2021-06-30', '2021-06-30',
                '2021-06-30', '2021-06-30',
                ...
                '2021-08-31', '2021-08-31', '2021-08-31', '2021-08-31',
                '2021-08-31', '2021-08-31', '2021-08-31', '2021-08-31',
                '2021-08-31', '2021-08-31'],
               dtype='datetime64[ns]', name='Fecha Cierre', length=1444, freq=None),
 (1444, 24))

Checking for duplicates.

In [16]:
d = df2.groupby(["Client_Status_Post3Months"]).agg({"Client_ID" : "nunique", "Resident_Capital" : "count"})
d = d.reset_index()
d = d.rename(columns={"Client_ID" : "Unique_Frequency", "Resident_Capital" : "Frequency"})
d

   Client_Status_Post3Months  Unique_Frequency  Frequency
0                        0.0               994        994
1                        1.0               450        450

=> no duplicates...

Reencoding target variable:

In [17]:
df2["Client_Status_Post3Months"] = df2["Client_Status_Post3Months"].replace({0:1, 1:0})

Checking class distributions:

In [18]:
y_test = df2["Client_Status_Post3Months"]

In [19]:
y_test.value_counts()/y_test.shape[0]

1.0    0.688366
0.0    0.311634
Name: Client_Status_Post3Months, dtype: float64

In [20]:
X_test = df2[["Client_ID", "LO_Still_Hired_Post3Months", "LO_Still_Hired_Prior6Months","LO_Still_Hired_Post6Months"]]

### Feature Engineering: training data

In [21]:
X_train["Year"] = X_train.index.year

In [22]:
X_train["Month"] = X_train.index.month

In [23]:
X_train.columns

Index(['Client_ID', 'LO_Still_Hired_Post3Months',
       'LO_Still_Hired_Prior3Months', 'LO_Still_Hired_Post6Months', 'Year',
       'Month'],
      dtype='object')

In [24]:
scaler = MinMaxScaler()

In [25]:
Xtrain_scaled = scaler.fit_transform(X_train)

In [26]:
X_train.shape

(4304, 6)

### Feature Engineering: validation data

In [27]:
X_test["Year"] = X_test.index.year

In [28]:
X_test["Month"] = X_test.index.month

In [29]:
X_test.columns

Index(['Client_ID', 'LO_Still_Hired_Post3Months',
       'LO_Still_Hired_Prior6Months', 'LO_Still_Hired_Post6Months', 'Year',
       'Month'],
      dtype='object')

In [30]:
Xtest_scaled = scaler.transform(X_test)

In [31]:
X_test.shape

(1444, 6)

## Import best-performing model (Random Forest)

In [32]:
with open("../artefacts/churn-model.bin", "rb") as f_in: 
    model = pickle.load(f_in)

Train a model

In [33]:
model.fit(X_train, y_train)

RandomForestClassifier(max_depth=10, min_samples_split=3, n_estimators=63,
                       random_state=42)

### Make predictions.

In [34]:
ypred_hard = model.predict(X_test)

In [35]:
ypred_soft = model.predict_proba(X_test)
ypred_soft

array([[0.79710262, 0.20289738],
       [0.79710262, 0.20289738],
       [0.79710262, 0.20289738],
       ...,
       [0.19438146, 0.80561854],
       [0.19438146, 0.80561854],
       [0.25297619, 0.74702381]])

Checking predictions:

In [36]:
customer = X_test[-1:]
customer

,Client_ID,LO_Still_Hired_Post3Months,LO_Still_Hired_Prior6Months,LO_Still_Hired_Post6Months,Year,Month
Fecha Cierre,,,,,,
2021-08-31,1.090300e+12,0.0,0.0,0.0,2021,8

In [37]:
model.predict_proba(customer)[0, 1]

0.7470238095238095

In [38]:
model.predict(customer)[0]

1

In [39]:
y_test[-1:]

Fecha Cierre
2021-08-31    1.0
Name: Client_Status_Post3Months, dtype: float64

In [40]:
model.score(X_test, y_test)

0.9522160664819944